<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('scheds') }}" method="post">
        <select name="schedule">
            {% for sched in scheds %}
                <option value="{{sched}}">{{sched}}</option>
            {% endfor %}
            </select>
        <button>choose sched</button>
    </form>
</body>
</html>
    